:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.loading-indicator:before {
    content: '';
    background: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.loading-indicator:after {
    content: url(./assets/loading.gif);
    position: fixed;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 1001;
    color:black;
    text-align:center;
    font-weight:bold;
    font-size:1.5rem;        
}

form {
  top: 30%;
  position: fixed;
} 

input.text-field {
  width: 15vw;
  height: 4vh;
  border:3px solid black
}
input.text-field:focus {
  border: 3px solid rgba(0, 179, 255, 0.993);
}
input.submit-button {
  width: 7vw;
  height: 4vh;
  margin:  0px 10px;
  background: white;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}